.nome{
    text-transform: uppercase;
    color: blue;
}

.validaPedido{
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.tituloPedido{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    }

.pedidos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tipoPagamento{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: brown;

}
.statusPedido{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #07f56e;

}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}