/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centralizar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.alinharDireita{
  display: flex;
  align-items: center;
  justify-content: right;
}

.erro{
  background-color: red;
  color: white;
}

.sucesso{
  background-color: green;
  color: white;
}

.table{
  width: 100%;
  margin: 10px auto;
}

.titulo{
  background-color: rgb(241, 240, 250);
  padding: 15px;
  border-radius: 7px;

}

tr:hover{
  background-color: rgb(248, 246, 246);
}

.ocultar{
  display: none;
}

.imagem{
  width: 180px;
  height: 150px;
  cursor: pointer;

}

.imagemDestaque{
  width: 380px;
  height: 350px;
  cursor: pointer;
  margin: 15px;
}

