.boxPrincipal{
    max-width: 100ox;
   height: 220px;
    /* background-color: rgb(92, 90, 85); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.imagem{
    height: 100%;
    /* background-color: black; */
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.botao{
    width: 100%;
    display: none;
}