

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.titulo{
    text-align: center;
    font-weight:bold;
    font-size: 1.2em;
    margin-bottom: 6px;
}

.image{
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    box-shadow:0 0 0.5em #b6ef0b;
    
}

.detalhes{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    font-family:Satisfy;
    color: #666262;
}