<app-titulo [titulo]="'Dashboard - Informações administrativas do sistema'"></app-titulo>
<div class="alinharCards">

  <div class="cardDashboard">
    <mat-card>
      <mat-card-content>
        Categorias
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDashboard">
    <mat-card>
        <mat-card-subtitle>
          Produtos
        </mat-card-subtitle>
      <mat-card-content>
        {{produtosQuantidade}} produtos cadastrados
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDashboard">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>

          Fornecedores
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{fornecedoresQuantidade}} fornecedores cadastrados
      </mat-card-content>
    </mat-card>
  </div>
  
</div>


