<app-titulo [titulo]="'Dashboard - Informações administrativas do sistema'"></app-titulo>
<div class="alinharCards">

  <div class="cardDashboard">
    <mat-card>
      <mat-card-content>
        Categorias
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDashboard">
    <mat-card>
      <mat-card-content>
        Produtos
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDashboard">
    <mat-card>
      <mat-card-content>
        Fornecedores
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cardDashboard">
    <mat-card>
      <mat-card-content>
        Itens cadastrados
            </mat-card-content>
    </mat-card>
  </div>

</div>


