<div class="centralizar">
  <mat-card style="margin-top: 150px;" class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>smartphone</mat-icon>
        Novo registro de usuário
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="formulario" (ngSubmit)="SalvarDados()">
    <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Nome: </mat-label>
            <input type="text" matInput formControlName="Nome" placeholder="Digite seu nome completo" minlength="3" maxlength="50">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Email: </mat-label>
            <input type="text" matInput formControlName="Email" placeholder="Digite seu email" minlength="3" maxlength="50">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CPF: </mat-label>
            <input type="text" matInput formControlName="CPF" placeholder="Digite seu CPF" minlength="3" mask="CPF_CNPJ" [showMaskTyped]="false">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Senha: </mat-label>
            <input type="password" matInput formControlName="Senha" placeholder="Digite sua senha" minlength="3" maxlength="15">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-stroked-button color="primary" type="submit" [disabled]="formulario.invalid"> Salvar</button>
        <button mat-stroked-button color="primary" routerLink="" style="border: 0;"> Voltar</button>
      </mat-card-actions>
    </form>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

</div>
