.navbar{
    display: flex;
    align-content: space-around;
    background-color: #ccc;
    height: 80px;
    padding-right: 20px;
    padding-left: 20px;
}

.links{
    text-decoration: none;
    color: black;

}

.links:hover{
color:black
}

.icone{
    color: rgb(239, 9, 9);
    font-size: 1.7em;
    margin-right: 5px;
    transition: ease-in-out .5s
    
}

.icone:hover{
    /* font-size: 2em; */
    color: rgb(98, 5, 248);
    /* transition-delay: 0.5s; */
    transform: scale(1.5);
    /* margin-right: 15px; */
}

.perfil{
    color: black;
}

.logout{
    font-size: 1.4em;
}

@media screen and (max-width: 570px){
    .email{
        display: none
    }

};


